# build outputs
/build/
/dist/
/bin/
/build-imgui/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
*.obj
*.o
*.exe
*.dll
*.lib
*.pdb

imgui.ini

# generated demo frames & bulk images
frame_*.bmp
*.png

# archives
*.zip
